<form #formSoma="ngForm">
  <label>Nota 1: </label>
  <input type="text" name="numero1" [(ngModel)]="numero1" />
  <br>
  <br>
  <label>Nota 2: </label>
  <input type="text" name="numero2" [(ngModel)]="numero2" />
  <br>
  <br>
  <label>Nota 3: </label>
  <input type="text" name="numero3" [(ngModel)]="numero3" />
  <br>
  <br>
  <button (click)="somar()">Calcular</button>
  <br>
  <br>
  <label>Media: {{notaFinal}} </label>
  <br>

  <div *ngIf="this.notaFinal < 7; else elseBlock2"></div>
  <ng-template #elseBlock2><p id="mudarParagrafo"><span style="color: blue;">{{mudarParagrafo()}}</span></p> </ng-template>

  <div *ngIf="this.notaFinal >= 7; else elseBlock3"></div>
  <ng-template #elseBlock3><p id="mudarParagrafo"><span style="color: red;">{{mudarParagrafo()}}</span></p> </ng-template>

</form>
